.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 3em;
}
.slicer {
  width: 350px;
}
button,
input {
  font-size: 0.8em;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.step,
.count {
  display: flex;
}
.active {
  display: none;
}
